---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Jane - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="175" height="175" style="border-radius:50%;" src="/img/avatar-angel.png">
				<h1>Jane</h1>
				<p>A student major in Web & Mobile,<br>
					focus on UI Development, and Mobile application</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Moving Memory</h2>
							<time>2017.02</time>
							<img src="images/moving-gallery.jpg">
							<ul>
								<li>
									"Moving Memory" is a web app which showing picutre and cool animation. It's a effort of playing with <a href="http://facebook.github.io/react/">React.js</a> and a gift for my lovely daughter. <br /><b>Memory will faded, but love never.</b>
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>React</b></span>
									<span class="i-react"></span>
									<span class="link"><a href="/moving-memory">Try it</a></span>
									<span class="link"><a href="https://github.com/Jane27/moving-memory">Github</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">One Day</h2>
							<time>2017.04</time>
							<img src="images/one-day.jpg">
							<ul>
								<li>
									"One Day" is a web application used as To-do list. User can add a new event as todo, and move event from todo to In Progress and then move it to done. It was implemented with react.js, redux, react-router, and antd.
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>React</b></span>
									<span class="i-react"></span>
									<span class="link"><a href="/one-day">Try it</a></span>
									<span class="link"><a href="https://github.com/Jane27/one-day">Github</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="busyweek">FoodPin</h2>
							<time>2016.09</time>
							<img src="images/foodpin.jpg">
							<ul>
								<li>
									FoodPin is a native mobile application which allow user to search restaurants by restaurants name, type and location. Users could store their favorite restaurants and make comments. It is implemented by swift.
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>swift</b></span>
									<span class="i-vue"></span>
									<span class="link"><a target="_blank" href="https://github.com/Jane27/swift_demo">Github</a></span>
								</li>
							</ul>
						</div>
					</li>				
					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
